body{
    background-color: #EDDFE0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar{
    position: sticky;
    top: 0;
}
#Main-headline{
    text-align: center;
    color: #795757;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #705C53;
    color: aliceblue;
    margin-top: 40px;
    
}
.navbar ul{
    list-style-type: none;
    background-color:#B99470;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #A0937D;
    border: 1px solid;
}
.navbar li{
    float: left;

}

.indexintro{
    text-align: center;
    color: #795757;
}
.cntnt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.contents{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    
}
.contents li{
    color: #795757 ;
    margin: 12px;
    max-width: 320px;
    background: #FFF0D1;
    border-radius: 10px;
    padding: 10px;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
    max-width: 400px;
    margin: 50px;
    margin-left: 100px;
}
.introduction img{
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    height: auto;
}
.contents ul{
    list-style-type: none;
    text-align: left;
    padding: 0;
    
}
.contents li{
    color: #795757;
    max-width: 320px;
    background: #FFF0D1;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}
.contents ul a:hover{
    color: lightblue;
}

.Headline{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #795757;
    margin: 5px;
    border-radius: 10px;
}

.container1, .container2, .container3 {
    background-color: #503C3C;
    border: 20px solid #503C3C;
    border-radius: 40px;
    margin: 20px;
    margin-top: 10%;
    padding: 20px;
    color: blanchedalmond;
    flex: 1 1 300px;
    max-width: 400px;
}
.about-sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.container1 a:hover{
    color: lightblue;
}

.image1{
    border-radius: 80px;
    border: 5px solid white;
    width: 50%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;

}
.cvcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.cv-left, .cv-right{
    flex: 1 1 300px;
}
.cvintro, .CVskills, .CVeducation{
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    background: #FFF0D1;
    margin-top: 20px;

}

.imageCV{
    width: 100%;
    max-width: 180px;
    height: auto;
    border: 5px solid black;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}


.Galleryimages img{
    width: 428px;
    height: auto;
    border: 10px solid;
    border-radius: 20px;
}
.Galleryimages{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    
}
.contactintro{
    text-align: center;
    font-size: xx-large;
    color: #503C3C;
}
.onlineinquiry, .contactinfo{
    position: static;
    max-width: 600px;
    margin: 20px auto;
    
}
.wrapper-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.onlineinquiry p{
    font-size: xx-large;
    position: relative;
    left: 200px;
    
}
.introduction a:hover{
    color: aqua;
}


.contactinfo p,h2,h3{
    text-align: center;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .about-sections {
        flex-direction: column;
        align-items: center;
    }
    .Galleryimages img{
        max-width: 250px;
        border-width: 6px;
    }
    .contact-wrapper {
        flex-direction: column;
    }

    .container1, .container2, .container3 {
        max-width: 90%;
    }
    .introduction {
        padding-left: 20px;
    }
    .cntnt {
        flex-direction: column;
        align-items: center;
    }

    .introduction {
        padding-left: 0;
        padding-top: 0;
        text-align: center;
    }

    .introduction img {
        margin: 0 auto;
    }
}