body{
    background-color: #EDDFE0;
}
.navbar{
    position: sticky;
}
#Main-headline{
    text-align: center;
    color:#4E56C0;
}
footer{
    text-align: center;
    padding: 1px;
    background-color: #705C53;
    color: aliceblue;
    position:relative;
    
}
.navbar ul{
    list-style-type: none;
    background-color:#B99470;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #A0937D;
    border: 1px solid;
}
.navbar li{
    float: left;

}

.indexintro{
    text-align: center;
    color: #795757;
}

.contents{
    display: inline-flex;
    margin: 10px;
    padding: 20px;
    
}
.introduction{
    text-align: left;
    padding-left: 100px;
}
.introduction img{
    width: 200px;
    height: auto;
}
.contents ul{
    list-style-type: none;
    text-align: left;
    
}
.contents li{
    color: #795757;
}
.contents ul a:hover{
    color: lightblue;
}

.Headline{
    position: absolute;
    left: 300px;
    top: 150px;
    text-align: center;
    color: #795757;
    margin: 5px;
    border-radius: 10px;
}

.container1{
    position: absolute;
    left: 50px;
    top: 350px;
    background-color: #503C3C ;
    border: 20px solid  #503C3C ;
    margin: 5px;
    border-radius: 100px;
}
.container1 a:hover{
    color: lightblue;
}
.container2{
    position: absolute;
    left: 400px;
    top: 520px;
    background-color:  #503C3C ;
    border: 20px solid  #503C3C ;
    margin: 5px;
    border-radius: 100px;
}
.container3{
    position: absolute;
    left: 150px;
    top: 750px;
    background-color: #503C3C ;
    border: 20px solid  #503C3C ;
    margin: 5px;
    border-radius: 100px;
}
.image1{
    border-radius: 80px;
    border: 5px solid white;
}
.cvintro{
    border: 2px solid black;
    position: absolute;
    left: 400px;
}
.CVskills{
    border: 2px solid black;
    position: absolute;
    left: 250px;
    top: 300px;
}
.CVeducation{
    border: 2px solid black;
    position: absolute;
    left: 490px;
    top: 300px;
}
.imageCV{
    border: 5px solid black;
    border-radius: 5px;
}


.Galleryimages img{
    width: 428px;
    height: auto;
    border: 10px solid;
    border-radius: 20px;
}
.Galleryimages{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    border: 10px dotted #503C3C;
}
.contactintro{
    text-align: center;
    font-size: xx-large;
    color: #503C3C;
}
.onlineinquiry{
    position: absolute;
    left: 200px
}
.onlineinquiry p{
    font-size: xx-large;
    position: relative;
    left: 200px;
    
}
.introduction a:hover{
    color: aqua;
}

.contactinfo{
    position: absolute;
    border: 2px solid white;
    right: 200px
}

.contactinfo p,h2,h3{
    text-align: center;
}