h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: cadetblue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: darkslategrey;
}
.navbar li{
    float: left;
}