body{
    background-color:#fdcffa;
}
.navbar{
    position: sticky;
}
#Main-headline{
    text-align: center;
    color:#4E56C0;
}
.navbar ul{
    list-style-type: none;
    background-color:#D78FEE;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:blueviolet;
    border: 1px solid;
}
.navbar li{
    float: left;

}

.indexintro{
    text-align: center;
    
}

.contents{
    display: inline-flex;
    margin: 10px;
    padding: 20px;
    
}
.contents ul{
    list-style-type: none;
    text-align: left;
    
}
.contents ul a:hover{
    color: lightblue;
}

.Headline{
    position: absolute;
    left: 300px;
    top: 150px;
    text-align: center;
    background-color:aqua;
    border: 15px solid aqua;
    margin: 5px;
    border-radius: 10px;
}

.container1{
    position: absolute;
    left: 50px;
    top: 350px;
    background-color:deeppink ;
    border: 20px solid deeppink;
    margin: 5px;
    border-radius: 100px;
}
.container1 a:hover{
    color: aqua;
}
.container2{
    position: absolute;
    left: 400px;
    top: 520px;
    background-color: purple;
    border: 20px solid purple;
    margin: 5px;
    border-radius: 100px;
}
.container3{
    position: absolute;
    left: 150px;
    top: 750px;
    background-color:lightcoral;
    border: 20px solid lightcoral;
    margin: 5px;
    border-radius: 100px;
}
.image1{
    border-radius: 80px;
    border: 5px solid white;
}
.cvintro{
    border: 2px solid black;
    position: absolute;
    left: 400px;
}
.CVskills{
    border: 2px solid black;
    position: absolute;
    left: 250px;
    top: 300px;
}
.CVeducation{
    border: 2px solid black;
    position: absolute;
    left: 490px;
    top: 300px;
}
.imageCV{
    border: 5px solid black;
    border-radius: 5px;
}